*{
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
	font-family:"Arial";
}
header > p.BBA{
	background:rgb(38, 156, 155);
	color:white;
	padding:.6rem;
	text-align:center;
}
ul{
	list-style:none;
}
ul.top{
	list-style:none;
	padding-left:1.5rem;
}
ul.top > li{
	float:left;
	padding:1rem 1rem 1rem 1rem;
	font-size:.8rem;
}
.right > *{
	float:right;
	padding:.5rem 1rem .5rem 1rem;
	margin:.5rem 2rem .5rem 0;
	font-size:.8rem;
}
button{
	background:url(search.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.bar{
	background:#F4F4F4;
	color:#777777;
	border-bottom:1px solid lightgray;
	height:3.5vw;
}
.utext:hover, ul.top > li:hover{
	background:#E5E5E5;
}
div.face{
	width:5vw;
	height:5vw;
	background:url(face.jpg);
	background-size:contain;
	margin:1.5rem 1.5rem 1.5rem 1.5rem;
	border-radius:100px;
}
.shitformat > ul > li, div > li{
	float:left;
}
.shitformatText{
	padding-top:3.5vw;
	font-weight:bold;
}
div > li{
	padding:1vw;
	float:right;
	justify-self:center;
	align-self:center;
	font-size:1.5vw;
	width:10%;
	text-align:center;
}