body {
	overflow: hidden;
	background: linear-gradient(90deg, rgba(208,255,255,1) 0%, rgba(90,167,247,1) 40%, rgba(90,167,247,1) 60%, rgba(208,255,255,1) 100%);
	font-family: 'Nunito Sans', sans-serif;
}

div {
	margin: 0;
	padding: 0;
}

h1, p {
	margin: 0;
	padding: 0;
}

@keyframes fade {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes grow {
	from {width: 0; opacity: 1;}
	to {width: 560px, height: 400px; opacity: 1}
}

[class*="inner-data"] {
	width: 33.3%;
	float: left;
	text-align: center;
	opacity: 0;
	animation: fade 1s .9s forwards;
}

[class*="fa fa"]:hover {
	opacity: 50%;
	transition: opacity .2s
}

.wrapper {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
  
.container {
	width: 560px;
	height: 400px;
	background: #fff;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	animation: grow .8s forwards;
	opacity: 0;
}

.container .profile-img {
	width: 176px;
	height: 176px;
	border-radius: 50%;
	position: absolute;
	top: -130px;
	left: 187px;
	opacity: 0;
	animation: fade 1s .9s forwards;
}

.content {
	position: absolute;
	animation: fade 1s 1s forwards;
	opacity: 0;
}

.content .sub-content {
	text-align: center;
	padding: 55px 174px 5px;
}

.content .sub-content p {
	color: gray;
}

.content .description p {
	text-align: center;
	padding: 5px 10px 10px 19px;
}

.data {
	width: 100%;
	overflow: hidden;
	margin: 5px 0 20px;
}

.inner-data a {
	text-decoration: none;
	font-size: 50px;
	margin-bottom: 5px;
	color: #34495E ;
}